@charset "UTF-8";

main {
    justify-content: flex-start;
    max-height: calc(100vh - 400px);
    overflow-y: auto;
}

#searchBox {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

#searchBox input {
    width: calc(70% - 240px);
    height: 40px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0 5px;
    box-sizing: border-box;
}

#searchBox button {
    width: 100px;
    height: 40px;
}

#resultBox {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    width: 100%;
}

#resultBox .itemBox {
    position: relative;
    width: calc((100% - 60px)/3);
    border-radius: 15px;
    box-shadow: 0 0 20px #00000022;
    overflow: hidden;
}

#resultBox .imgBox {
    position: relative;
    width: 100%;
    background-color: #f3f3f3;
    overflow: hidden;
}

#resultBox .imgBox::before {
    content:"";
    display: inline-block;
    width: 100%;
    padding-top: 63%;
}

#resultBox .imgBox img {
    position: absolute;
    display: block;
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#resultBox .info {
    position: relative;
    padding: 15px 15px 25px;
}

#resultBox .info > span {
    display: block;
}

#resultBox .info .tit {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
}

#resultBox .info .loca {
    font-size: 14px;
    color: #555;
}

#resultBox .noData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
}