
@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 80%;
  margin-left: 10%;
}

header,
main {
  background-color: aliceblue;
  padding: 0 30px 30px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav>ul {
  display: flex;
}

nav li {
  padding: 5px;
  margin: 2px;
}

article {
  padding-top: 50px;
  padding-bottom: 30px;
}

article>h1 {
  display: flex;
  justify-content: center;
}

article>p {
  padding: 30px 50px;
  font-family: "Dongle", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
}

nav {
  display: flex;
}

#menu1 a {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#menu1 a:hover {
  background-color: brown;
}

.textred {
  color: red;
}

section {
  padding: 30px;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.fbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
}

.fbox > div {
  flex-shrink: 0;
  margin-right: 30px;
  border-radius: 50%;
  width:150px;
  height:150px;
  overflow: hidden;
}

.fbox > div > img {
  vertical-align: bottom;
}

footer {
  background-color: #000;
  color:#fff;
  text-align:center;
  padding: 40px 30px 40px;
  box-sizing:border-box;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: small;
  word-break: keep-all;
}

footer ul li:nth-child(2) {
  color:#ffffffcc;
}

footer ul li:nth-child(3) {
  color:#ffffff77;
  /* font-size: 15px; */
}