form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fInput, .fButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
}

.fInput {
    gap: 20px;
}

.fInput > input {
    width: calc((100% - 30px)/2);
    height: 40px;
    border: 2px solid #0B1F50;
    border-radius: 8px;
    padding: 0 8px;
    box-sizing:border-box;
}

.fButton > button {
    width: 30%;
    height: 40px;
    margin: 0 5px;
}

[readonly] {
    background-color: beige;
}