
.selectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: 100px;
    padding: 20px;
    background-color: aliceblue;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.selectBox input {
    height: 30px;
}

.selectBox input[type=date] {
    width:100%;
}

.selectBox button {
    width: 100px;
}

.selectBox>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 400px;
    font-size: 13px;
}

.resultBox {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.poster {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 300px;
    background-color: #dedede;
}

.poster img {
    display: block;
    max-width: 100%;
}

.content {
    width: 65%;
}

.mvTit {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.mvlist {
    width: 100%;
    min-height: 285px;
}

.mvlist li {
    cursor: pointer;
}

.mvlist li .spRank {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    background-color: #E5E6F2;
    border-radius: 3px;
    color: #000;
    font-size: 12px;
}

.mvlist li .inten {
    color: black;
    font-size: 12px;
}

.mvlist li .up {
    color:red;
}

.mvlist li .down {
    color: blue;
}